@import url("common.css");

.wrap {
  min-width: 360px;
}
.skipNav {
  display: none;
}
.headerArea {
  padding-bottom: 10px;
}
.header {
  position: relative;
  height: 80px;
  padding: 18px 20px;
  text-align: right;
}
.header .logo {
  position: absolute;
  left: 20px;
  top: 18px;
}
.header .logo a {
  color: black;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 1em;
  vertical-align: top;
}
.header .serch {
  display: inline-block;
  position: relative;
  text-align: right;
}
.header .serch .serchInput {
  display: none;
  width: 100%;
  padding: 0 45px 0 10px;
  font-size: 1rem;
  line-height: 40px;
}
.header .serch button {
  width: 45px;
  height: 100%;
  padding: 10px;
  background-color: transparent;
  font-size: 1.2rem;
}
.header .serch button span {
  width: 0;
  height: 0;
  font-size: 0;
  text-indent: -99999px;
  line-height: 0;
}
.header .serch .searchTag {
  display: none;
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 500px;
}
.header .serch .searchTag li {
  display: inline-block;
  vertical-align: top;
}
.header .serch .searchTag li a {
  display: inline-block;
  padding: 5px;
  border-radius: 15px;
  background-color: #e6e6e6;
  font-size: 0.7rem;
}
.header .loginBox {
  display: inline-block;
}
.header .loginBox a {
  padding: 0 2px;
}
.gnb {
  position: relative;
  overflow: hidden;
  padding: 0 0 0 40px;
}
.gnb .gnbAll {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  font-size: 1.05rem;
  line-height: 40px;
}
.gnb ul {
  white-space: nowrap;
  overflow-y: auto;
}
.gnb ul li {
  display: inline-block;
  vertical-align: top;
}
.gnb ul li a {
  display: block;
  padding: 10px;
}
.gnb ul li {
}
.content {
  padding: 20px;
}
footer {
  padding: 20px;
  border-top: 1px solid #d6d6d6;
}
footer .infoMenu {
  position: relative;
}
footer .infoMenu nav > ul > li:first-child {
  margin-top: 0;
}
footer .infoMenu nav > ul > li {
  margin-top: 10px;
}
footer .infoMenu .tit {
  position: relative;
}
footer .infoMenu li a {
  color: #858a8d;
  font-size: 0.9rem;
}
footer .infoMenu .tit span {
  color: #858a8d;
  font-size: 0.8rem;
}
footer .companyInfo {
  margin-top: 20px;
  color: #858a8d;
  font-size: 0.8rem;
}
footer .companyInfo .snsList {
  margin-top: 18px;
}
footer .companyInfo .snsList li {
  display: inline-block;
  vertical-align: top;
}
footer .companyInfo .snsList a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  font-size: 0.95rem;
  line-height: 30px;
  text-align: center;
}
footer .companyInfo .snsList .instagram {
  font-size: 1.1rem;
}

.mainSlide {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.mainSlide ul {
  white-space: nowrap;
  font-size: 0;
}
.mainSlide ul li {
  display: inline-block;
  width: 100%;
  padding: 40px 20px 60px;
  background-color: #6e8dd0;
  vertical-align: top;
}
.mainSlide ul li a {
  display: block;
  width: 100%;
}
.mainSlide .slideImg {
  position: relative;
  width: 455px;
  height: 455px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 2px 5px 27px rgba(0, 0, 0, 0.4);
}
.mainSlide .slideImg img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: initial;
  height: 100%;
}
.mainSlide .slideImg .tag {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  min-width: 50px;
  padding: 2px 4px;
  border-radius: 3px;
  background: #fff;
  font-size: 0.8rem;
}
.mainSlide .slideTex {
  margin: 60px 0 20px;
  font-size: 1rem;
}
.mainSlide .slideTex:hover {
  text-decoration: underline;
}
.mainSlide .slideTex dt {
  font-size: 1.5rem;
}
.mainSlide .slideTex dd {
  margin-top: 10px;
}
.mainSlide .controlSlide {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 110px 0 80px;
}
.mainSlide .controlSlide .paging {
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 1.1rem;
  line-height: 40px;
}
.mainSlide .controlSlide .paging .now {
  font-weight: 700;
}
.mainSlide .controlSlide .timeBar {
  position: relative;
  width: 100%;
  height: 100%;
}
.mainSlide .controlSlide .timeBar::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #bcbcbf;
}
.mainSlide .controlSlide .timeBar .time {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;
  height: 3px;
  border-radius: 3px;
  background-color: lavender;
}
.mainSlide .controlSlide .btnSlide {
  position: absolute;
  top: 0;
  right: 20px;
}
.mainSlide .controlSlide .btnSlide button {
  width: 40px;
  height: 40px;
  font-size: 1.6rem;
}
.titArea {
  margin-bottom: 30px;
}
.titArea .tit {
  font-size: 1.6rem;
}
.titArea p {
  margin-top: 15px;
}
.productList ul li:first-child {
  margin-top: 0;
}
.productList ul li {
  margin-top: 20px;
}
.productList .item {
  position: relative;
}
.productList .item .btn {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 3px;
  background-color: #6e8dd0;
  color: #fff;
}
.productList .item .info {
  margin-top: 6px;
  font-weight: 600;
  font-size: 0.7rem;
}
.productList .item .info span:first-child {
  padding-left: 0;
}
.productList .item .info .infoProfile {
  position: relative;
  padding-left: 6px;
}
.productList .item .info .infoProfile span {
  display: inline-block;
  vertical-align: top;
}
.productList .item .info .infoProfile::before {
  content: "선생님 ";
  overflow: hidden;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2px;
  height: 2px;
  background-color: #000;
}
.productList .item .tit {
  margin-top: 5px;
  color: #1b1c1d;
}
.productList .item .tag {
  margin-top: 5px;
}
.productList .item .tag span {
  height: 20px;
  padding: 0 6px;
  background-color: #f1f1f1;
  color: #858a8d;
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 20px;
}
.productList .item .price {
  margin-top: 10px;
}
.productList .item .price span::before,
.productList .item .price strong::before {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
.productList .item .price .priceOriginal {
  font-weight: 700;
}
.productList .item .price .priceOriginal::before {
  content: "정상가 ";
}
.productList .item .price .priceOriginal:not(:only-child) {
  color: #858a8d;
  font-weight: 500;
  font-size: 0.7rem;
  text-decoration: line-through;
}
.productList .item .price .pricePercent {
  color: #f33340;
  font-size: 0.7rem;
}
.productList .item .price .pricePercent::before {
  content: "할인율 ";
}
.productList .item .price .priceDiscount {
  display: block;
  font-weight: 700;
}
.productList .item .price .priceDiscount::before {
  content: "판매가 ";
}
.productList .item .price .pricePercent span,
.productList .item .price .priceDiscount span {
  color: #1b1c1d;
  font-weight: 500;
  font-size: 0.8rem;
}
.productList .item .btnLike {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: 1.6rem;
  color: #fff;
}
.productList .item .btnLike.on {
  color: #f33340;
}
.productList .item .btnLike.on i {
  font-weight: 900;
}
.btnMore,
.btnTalk {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #6e8dd0;
  border-radius: 3px;
  color: #6e8dd0;
  text-align: center;
}
footer .infoMenu {
}
footer .infoMenu nav {
}

@media all and (min-width: 1000px) {
  .header {
    padding-right: 147px;
    text-align: left;
  }
  .header .logo {
    display: inline-block;
    position: inherit;
    top: inherit;
    left: inherit;
    vertical-align: top;
  }
  .header .serch {
    display: inline-block;
    margin-left: 15px;
  }
  .header .serch .serchInput {
    display: block;
    width: 380px;
  }
  .header .serch button {
    position: absolute;
    top: 0;
    right: 0;
  }
  .header .loginBox {
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px 20px;
  }
}
