@import url("common.css");

.mainSlide {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 140vmin;
}
.mainSlide ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5d738c;
}
.mainSlide ul li:nth-child(2) {
  background-color: #67110c;
}
.mainSlide ul li:nth-child(3) {
  background-color: #2f4850;
}
.mainSlide ul li.on,
.mainSlide ul li.on a:focus,
.mainSlide ul li a:focus {
  z-index: 20;
}
.mainSlide ul li.on a {
  right: 0;
  opacity: 1;
  transition: all 0.7s;
}
.mainSlide ul li a {
  display: block;
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  padding: 40px 20px 60px;
  opacity: 0;
}
.mainSlide .slideImg {
  overflow: hidden;
  position: relative;
  width: calc(100vmin - 6rem);
  height: calc(100vmin - 6rem);
  margin: 0 auto;
  box-shadow: 2px 5px 27px rgba(0, 0, 0, 0.4);
}
.mainSlide .slideImg img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: initial;
  height: 100%;
}
.mainSlide .slideImg .tag {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  min-width: 50px;
  padding: 2px 4px;
  border-radius: 3px;
  background: #fff;
  font-size: 0.8rem;
}
.mainSlide .slideTex {
  margin: 40px 0 20px;
  color: #fff;
  font-size: 1rem;
}
.mainSlide .slideTex:hover {
  text-decoration: underline;
}
.mainSlide .slideTex dt,
.mainSlide .slideTex dd {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.mainSlide .slideTex dt {
  max-height: 65px;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: -0.05em;
}
.mainSlide .slideTex dd {
  max-height: 45px;
  margin-top: 10px;
  color: #e9e9e9;
}
.mainSlide .controlSlide {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 150px 0 80px;
  color: #fff;
  z-index: 50;
}
.mainSlide .controlSlide .paging {
  position: absolute;
  top: -6px;
  left: 20px;
  font-size: 1.1rem;
  line-height: 40px;
}
.mainSlide .controlSlide .paging .now {
  font-weight: 600;
  font-size: 1.8rem;
}
.mainSlide .controlSlide .timeBar {
  position: relative;
  width: 100%;
  height: 100%;
}
.mainSlide .controlSlide .timeBar::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #bcbcbf;
}
.mainSlide .controlSlide .timeBar .time {
  overflow: hidden;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 3px;
  border-radius: 3px;
  background-color: lavender;
  color: transparent;
  font-size: 0;
  line-height: 0;
}
.mainSlide .controlSlide .timeBar.on .time {
  animation: timemove 7s infinite;
}
@keyframes timemove {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.mainSlide .controlSlide .btnSlide {
  position: absolute;
  top: 0;
  right: 20px;
}
.titArea {
  margin-bottom: 30px;
}
.titArea .tit {
  font-size: 1.6rem;
}
.titArea p {
  margin-top: 15px;
}
.productList ul {
  font-size: 0;
}
.productList ul li:last-child {
  margin-top: 0;
}
.productList ul li {
  margin-bottom: 20px;
}
.productList .item {
  position: relative;
  font-size: 1rem;
}
.productList .item a {
  display: block;
}
.productList .item .btn {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 3px;
  background-color: #6e8dd0;
  color: #fff;
}
.productList .item .img img {
  vertical-align: top;
}
.productList .item .info {
  margin-top: 12px;
  font-weight: 600;
  font-size: 0.7rem;
}
.productList .item .info span:first-child {
  padding-left: 0;
}
.productList .item .info .infoProfile {
  position: relative;
  padding-left: 6px;
}
.productList .item .info .infoProfile span {
  display: inline-block;
  vertical-align: top;
}
.productList .item .info .infoProfile::before {
  content: "선생님 ";
  overflow: hidden;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2px;
  height: 2px;
  background-color: #000;
}
.productList .item .tit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 42px;
  margin-top: 5px;
  color: #1b1c1d;
  text-overflow: ellipsis;
}
.productList .item .tag {
  margin-top: 5px;
}
.productList .item .tag span {
  height: 20px;
  padding: 0 6px;
  background-color: #f1f1f1;
  color: #858a8d;
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 20px;
}
.productList .item .price {
  margin-top: 10px;
}
.productList .item .price span::before,
.productList .item .price em::before {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
.productList .item .price .priceOriginal {
  font-weight: 600;
}
.productList .item .price .priceOriginal::before {
  content: "정상가 ";
}
.productList .item .price .priceOriginal:not(:only-child) {
  color: #858a8d;
  font-weight: 500;
  font-size: 0.7rem;
  text-decoration: line-through;
}
.productList .item .price .pricePercent {
  color: #f33340;
  font-size: 0.7rem;
}
.productList .item .price .pricePercent::before {
  content: "할인율 ";
}
.productList .item .price .priceDiscount {
  display: block;
  font-weight: 600;
}
.productList .item .price .priceDiscount::before {
  content: "판매가 ";
}
.productList .item .price .pricePercent span,
.productList .item .price .priceDiscount span {
  color: #1b1c1d;
  font-weight: 500;
  font-size: 0.8rem;
}
.productList .item .btnIconLike {
  position: absolute;
  top: 10px;
  right: 10px;
}
.productList.listSlide {
  overflow-y: auto;
  position: relative;
  margin: 0 -20px;
  padding: 0 20px;
}
.productList.listSlide ul {
  white-space: nowrap;
  margin: 0 -8px;
}
.productList.listSlide ul li {
  display: inline-block;
  width: 245px;
  margin-bottom: 0;
  padding: 0 8px;
  vertical-align: top;
}
.productList.listSlide ul li:last-child {
  margin-right: 12px;
}
.productList.listSlide .item {
  white-space: initial;
}
.productList.listSlide .item a {
  display: block;
  min-height: 260px;
}
.productList.listSlide .item .img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 170px;
  text-align: center;
}

.productList.listSlide .item .img img {
  height: 100%;
}
.productList.listSlide .item .tit {
  min-height: 42px;
}
.productList.listSlide .btnTurnSet {
  display: none;
}
section .banner {
  margin: 35px -20px 0;
}
.banner {
  overflow: hidden;
  position: relative;
  margin: 0 -20px 0;
}
.banner a {
  overflow: hidden;
  display: block;
  position: relative;
  min-height: 100px;
  max-height: 150px;
  padding: 20px;
}
.banner .bannerTxt {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 40px);
  max-height: calc(100% - 40px);
  color: #fff;
}
.banner img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}
.banner .bannerTxt .tit,
.banner .bannerTxt p {
  vertical-align: middle;
}
.banner .bannerTxt .tit {
  font-weight: 600;
  font-size: 1.3rem;
}
.banner .bannerTxt p {
  margin-top: 5px;
  font-size: 0.9rem;
}
.banner.bannerSlide ul {
  white-space: nowrap;
  font-size: 0;
}
.banner.bannerSlide li {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
}
.banner.bannerSlide li a {
  height: 150px;
}
.banner.bannerSlide li .bannerTxt {
  width: calc(100% - 100px);
  color: #fff;
  white-space: initial;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}
.listSlide ul,
.bannerSlide ul {
  transform: translateX(0);
  transition: all 0.7s;
}

@media (min-width: 540px) and (max-width: 800px) {
  .mainSlide {
    height: 130vmin;
  }
  .mainSlide .slideTex dd {
    margin-top: 15px;
  }
}

@media (min-width: 801px) and (max-width: 1199px) {
  .mainSlide {
    height: 125vmin;
  }
  .mainSlide .slideTex dt {
    font-size: 1.6rem;
  }
  .productList ul {
    margin: 0 -8px;
  }
  .productList ul li {
    display: inline-block;
    width: 50%;
    padding: 0 8px;
    vertical-align: top;
  }
  .productList ul li a {
    display: block;
    min-height: 360px;
  }
  .productList ul li .img {
    overflow: hidden;
    height: 230px;
  }
  .productList ul li .img img {
    height: 100%;
    object-fit: cover;
  }
}

@media all and (min-width: 1200px) {
  .mainSlide,
  .mainSlide ul > li {
    height: 720px;
  }
  .mainSlide ul > li > a {
    display: block;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
  }
  .mainSlide .slideImg {
    width: 600px;
    height: 600px;
    margin: 0;
  }
  .mainSlide .slideTex {
    position: absolute;
    top: 50%;
    right: 0;
    width: 550px;
    margin: 0;
    transform: translateY(-50%);
  }
  .mainSlide .slideTex dt {
    max-height: 190px;
    font-size: 3rem;
    -webkit-line-clamp: 3;
  }
  .mainSlide .slideTex dd {
    max-height: 115px;
    margin-top: 15px;
    font-size: 1.3rem;
    -webkit-line-clamp: 4;
  }
  .mainSlide .controlSlide {
    width: 1200px;
    padding: 0 130px 0 710px;
    bottom: 50px;
    transform: translateX(-50%);
    left: 50%;
    margin-bottom: 0;
  }
  .mainSlide .controlSlide .paging {
    left: initial;
    right: 500px;
  }
  .mainSlide .controlSlide .btnSlide {
    right: 0;
  }

  .productList ul {
    margin: 0 -8px;
  }
  .productList ul li {
    display: inline-block;
    width: 25%;
    padding: 0 8px;
    vertical-align: top;
  }
  .productList ul li a {
    display: block;
    min-height: 330px;
  }
  .productList ul li .img {
    overflow: hidden;
    height: 200px;
  }
  .productList ul li .img img {
    height: 100%;
    transition: all 0.2s;
  }
  .productList .item a:hover .img img,
  .productList .item a:focus .img img {
    transform: scale(1.1);
  }
  .productList .item .tit {
    height: 42px;
  }
  .productList.listSlide {
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  .productList.listSlide ul li {
    width: 25%;
  }
  .productList.listSlide .item .img {
    height: 230px;
  }
  .productList.listSlide ul li:last-child {
    margin-right: 0;
  }
  .productList.listSlide .btnTurnSet {
    display: block;
    top: 23%;
    transform: translateX(-50%);
  }
  .banner {
    margin: 0;
  }
  .banner a {
    border-radius: 3px;
  }
  section .banner {
    margin: 40px 0 0;
  }
}
